@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-blue: #0066FF;
  --color-brand-blue-light: #3385FF;
  --color-brand-silver: #B0B5B9;
  --color-brand-dark: #1A1A1A;
  --color-brand-bg: #050505;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-foreground);
}